body {
    background-color: bisque;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color:lightblue;
      }
    li a {
        display: block;
        padding: 8px 10px;
        text-decoration: none;
      }
    li a:hover {
        background-color:#3877a7;
      }
    h1 {
        color:rgba(109, 55, 12, 0.355); font-size:25px; font-family: serif;
    }
    h1.border {
        border: #4b2607 solid 2px;
        border-radius: 5px;
        outline: 4px dotted;
        margin: 
    }
    h2 {
        color:salmon; font-size:20px; font-family: serif;
    }
    p {
        color: rgb(19, 26, 102); font-size:15px; font-family: serif;
    }
    a:link, a:visited {
        color: #4b2607;
        position: center;
    }
    a:hover {
        text-decoration:underline wavy rgb(65, 28, 6) 2px;
        color: #3877a7;
    }
}